<div class="pagination-wrapper">
  <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>&search=<%= searchQuery %>&department=<%= selectedDepartment %><%= sortBy ? '&sort=' + sortBy : '' %>" 
       class="btn-page">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>&search=<%= searchQuery %>&department=<%= selectedDepartment %><%= sortBy ? '&sort=' + sortBy : '' %>"
       class="btn-page <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>&search=<%= searchQuery %>&department=<%= selectedDepartment %><%= sortBy ? '&sort=' + sortBy : '' %>" 
       class="btn-page">Next</a>
  <% } %>
</div>